@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root:not([data-theme="dark"]) {
	/* Common variables */
	--accent-foreground: oklch(100% 0 0);
	--success-foreground: oklch(100% 0 0);
	--destructive-foreground: oklch(100% 0 0);
	--warning-foreground: oklch(0% 0 0 / 0.800000011920929);
	--blue-1: oklch(79.93% 0.0808 253.32deg);
	--blue-2: oklch(69.55% 0.1271 253.81deg);
	--blue-3: oklch(61.37% 0.1643 255.34deg);
	--blue-4: oklch(55.82% 0.1761 256.43deg);
	--blue-5: oklch(49.23% 0.1505 256.36deg);
	--green-1: oklch(87.59% 0.1399 149.7deg);
	--green-2: oklch(81.8% 0.1754 152.1deg);
	--green-3: oklch(76.12% 0.1782 153.61deg);
	--green-4: oklch(72.25% 0.1568 157.73deg);
	--green-5: oklch(63.24% 0.1363 157.86deg);
	--yellow-1: oklch(93.72% 0.1533 105.38deg);
	--yellow-2: oklch(91.05% 0.1545 100.93deg);
	--yellow-3: oklch(87.14% 0.1694 96.01deg);
	--yellow-4: oklch(83.59% 0.1685 89.12deg);
	--yellow-5: oklch(76.3% 0.1564 80.29deg);
	--orange-1: oklch(84.54% 0.1219 70.27deg);
	--orange-2: oklch(79.24% 0.1503 61.99deg);
	--orange-3: oklch(72.01% 0.191 49.76deg);
	--orange-4: oklch(65.12% 0.1845 45.55deg);
	--orange-5: oklch(56.57% 0.1749 40.75deg);
	--red-1: oklch(68.14% 0.186 28.95deg);
	--red-2: oklch(61.83% 0.2201 24.71deg);
	--red-3: oklch(57.86% 0.2242 26.62deg);
	--red-4: oklch(51.98% 0.1956 24.71deg);
	--red-5: oklch(47.03% 0.1698 21.41deg);
	--purple-1: oklch(74.59% 0.1456 326.51deg);
	--purple-2: oklch(64.43% 0.1797 323.37deg);
	--purple-3: oklch(52.54% 0.1752 316.66deg);
	--purple-4: oklch(48.96% 0.1578 315.21deg);
	--purple-5: oklch(42.16% 0.1298 307.82deg);
	--brown-1: oklch(76.42% 0.0554 61.31deg);
	--brown-2: oklch(65% 0.0834 59.94deg);
	--brown-3: oklch(56.35% 0.0794 59.75deg);
	--brown-4: oklch(51.63% 0.0714 60.61deg);
	--brown-5: oklch(41.75% 0.0561 60.19deg);
	--light-1: oklch(100% 0 0);
	--light-2: oklch(97.06% 0.0017 67.9deg);
	--light-3: oklch(89.75% 0.0042 91.3deg);
	--light-4: oklch(80.46% 0.0043 91.32deg);
	--light-5: oklch(68.29% 0.0045 91.36deg);
	--dark-1: oklch(56.83% 0.0077 295.44deg);
	--dark-2: oklch(47.94% 0.0129 297.41deg);
	--dark-3: oklch(35.14% 0.0248 301.45deg);
	--dark-4: oklch(25.35% 0.034 296.67deg);
	--dark-5: oklch(0% 0 0);

	/* Light mode variables */
	--accent: oklch(55.82% 0.1761 256.43deg);
	--accent-background: oklch(61.37% 0.1643 255.34deg);
	--success: oklch(63.24% 0.1363 157.86deg);
	--success-background: oklch(72.25% 0.1568 157.73deg);
	--destructive: oklch(51.32% 0.2106 29.23deg);
	--destructive-background: oklch(57.86% 0.2242 26.62deg);
	--warning: oklch(61.84% 0.1276 79.33deg);
	--warning-background: oklch(76.3% 0.1564 80.29deg);
	--window-background: oklch(98.54% 0.0013 287.32deg);
	--window-foreground: oklch(5.52% 0.0382 264.05deg);
	--button: oklch(92.52% 0.0013 287.25deg);
	--button-pressed: oklch(87.92% 0 0);
	--view-background: oklch(100% 0 0);
	--view-foreground: oklch(5.52% 0.0382 264.05deg);
	--headerbar-background: oklch(94.01% 0 0);
	--headerbar-foreground: oklch(5.52% 0.0382 264.05deg);
	--headerbar-border: oklch(5.52% 0.0382 264.05deg);
	--headerbar-backdrop: oklch(98.54% 0.0013 287.32deg);
	--headerbar-shade: oklch(5.52% 0.0382 264.05deg);
	--sidebar-background: oklch(94.06% 0.0026 286.79deg);
	--sidebar-foreground: oklch(5.52% 0.0382 264.05deg);
	--sidebar-border: oklch(5.52% 0.0382 264.05deg);
	--sidebar-backdrop: oklch(96.17% 0.0026 286.8deg);
	--sidebar-shade: oklch(5.52% 0.0382 264.05deg);
	--secondary-sidebar-background: oklch(96.47% 0.0026 286.81deg);
	--secondary-sidebar-foreground: oklch(5.52% 0.0382 264.05deg);
	--secondary-sidebar-border: oklch(5.52% 0.0382 264.05deg);
	--secondary-sidebar-backdrop: oklch(97.43% 0.0053 286.53deg);
	--secondary-sidebar-shade: oklch(5.52% 0.0382 264.05deg);
	--card-background: oklch(100% 0 0);
	--card-foreground: oklch(5.52% 0.0382 264.05deg);
	--card-shade: oklch(5.52% 0.0382 264.05deg);
	--overview-background: oklch(96.47% 0.0026 286.81deg);
	--overview-foreground: oklch(5.52% 0.0382 264.05deg);
	--thumbnail-background: oklch(100% 0 0);
	--thumbnail-foreground: oklch(5.52% 0.0382 264.05deg);
	--dialog-background: oklch(98.51% 0 0);
	--dialog-foreground: oklch(5.52% 0.0382 264.05deg);
	--popover-background: oklch(100% 0 0);
	--popover-foreground: oklch(5.52% 0.0382 264.05deg);
	--popover-shade: oklch(5.52% 0.0382 264.05deg);
	--shade: oklch(5.52% 0.0382 264.05deg);
	--scrollbar-outline: oklch(100% 0 0);
	--list-box-background: var(--view-background);
	--expander-row-border: color-mix(in oklab, #000000 15%, transparent);
	--hover: rgba(0, 0, 0, 0.03);
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--accent: oklch(73.83% 0.1082 252.99deg);
		--accent-background: oklch(61.37% 0.1643 255.34deg);
		--success: oklch(87.59% 0.1399 149.7deg);
		--success-background: oklch(32.17% 0.0157 176.86deg);
		--destructive: oklch(73.19% 0.1659 31.9deg);
		--destructive-background: oklch(35.1% 0.0364 13.83deg);
		--warning: oklch(91.05% 0.1545 100.93deg);
		--warning-background: oklch(30.01% 0.0142 76.33deg);
		--window-background: oklch(25.36% 0.0074 285.9deg);
		--window-foreground: oklch(100% 0 0);
		--button: oklch(34.22% 0.0069 286.09deg);
		--button-pressed: oklch(50.42% 0.0047 286.36deg);
		--view-background: oklch(23.2% 0.0057 286deg);
		--view-foreground: oklch(100% 0 0);
		--headerbar-background: oklch(30.27% 0.0071 286.02deg);
		--headerbar-foreground: oklch(100% 0 0);
		--headerbar-border: oklch(100% 0 0);
		--headerbar-backdrop: oklch(25.36% 0.0074 285.9deg);
		--headerbar-shade: oklch(5.52% 0.0382 264.05deg);
		--sidebar-background: oklch(30.27% 0.0071 286.02deg);
		--sidebar-foreground: oklch(100% 0 0);
		--sidebar-border: oklch(5.52% 0.0382 264.05deg);
		--sidebar-backdrop: oklch(27.85% 0.0073 285.97deg);
		--sidebar-shade: oklch(5.52% 0.0382 264.05deg);
		--secondary-sidebar-background: oklch(27.85% 0.0073 285.97deg);
		--secondary-sidebar-foreground: oklch(100% 0 0);
		--secondary-sidebar-border: oklch(5.52% 0.0382 264.05deg);
		--secondary-sidebar-backdrop: oklch(26.61% 0.0074 285.93deg);
		--secondary-sidebar-shade: oklch(5.52% 0.0382 264.05deg);
		--card-background: oklch(100% 0 0 / 0.07999999821186066);
		--card-foreground: oklch(100% 0 0);
		--card-shade: oklch(5.52% 0.0382 264.05deg);
		--overview-foreground: oklch(100% 0 0);
		--overview-background: oklch(27.85% 0.0073 285.97deg);
		--thumbnail-background: oklch(34.61% 0.0069 286.1deg);
		--thumbnail-foreground: oklch(100% 0 0);
		--dialog-background: oklch(33.44% 0.0069 286.08deg);
		--dialog-foreground: oklch(100% 0 0);
		--popover-background: oklch(33.44% 0.0069 286.08deg);
		--popover-foreground: oklch(100% 0 0);
		--popover-shade: oklch(5.52% 0.0382 264.05deg);
		--shade: oklch(5.52% 0.0382 264.05deg);
		--scrollbar-outline: oklch(5.52% 0.0382 264.05deg);
		--list-box-background: var(--button);
		--expander-row-border: color-mix(in oklab, #ffffff 15%, transparent);
		--hover: rgba(255, 255, 255, 0.03);
	}
}

@theme inline {
	--color-accent: var(--accent);
	--color-accent-background: var(--accent-background);
	--color-accent-foreground: var(--accent-foreground);
	--color-blue-1: var(--blue-1);
	--color-blue-2: var(--blue-2);
	--color-blue-3: var(--blue-3);
	--color-blue-4: var(--blue-4);
	--color-blue-5: var(--blue-5);
	--color-brown-1: var(--brown-1);
	--color-brown-2: var(--brown-2);
	--color-brown-3: var(--brown-3);
	--color-brown-4: var(--brown-4);
	--color-brown-5: var(--brown-5);
	--color-button: var(--button);
	--color-button-pressed: var(--button-pressed);
	--color-card-background: var(--card-background);
	--color-card-foreground: var(--card-foreground);
	--color-card-shade: var(--card-shade);
	--color-dark-1: var(--dark-1);
	--color-dark-2: var(--dark-2);
	--color-dark-3: var(--dark-3);
	--color-dark-4: var(--dark-4);
	--color-dark-5: var(--dark-5);
	--color-destructive: var(--destructive);
	--color-destructive-background: var(--destructive-background);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-dialog-background: var(--dialog-background);
	--color-dialog-foreground: var(--dialog-foreground);
	--color-green-1: var(--green-1);
	--color-green-2: var(--green-2);
	--color-green-3: var(--green-3);
	--color-green-4: var(--green-4);
	--color-green-5: var(--green-5);
	--color-headerbar-backdrop: var(--headerbar-backdrop);
	--color-headerbar-background: var(--headerbar-background);
	--color-headerbar-border: var(--headerbar-border);
	--color-headerbar-foreground: var(--headerbar-foreground);
	--color-headerbar-shade: var(--headerbar-shade);
	--color-light-1: var(--light-1);
	--color-light-2: var(--light-2);
	--color-light-3: var(--light-3);
	--color-light-4: var(--light-4);
	--color-light-5: var(--light-5);
	--color-orange-1: var(--orange-1);
	--color-orange-2: var(--orange-2);
	--color-orange-3: var(--orange-3);
	--color-orange-4: var(--orange-4);
	--color-orange-5: var(--orange-5);
	--color-overview-background: var(--overview-background);
	--color-overview-foreground: var(--overview-foreground);
	--color-popover-background: var(--popover-background);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover-shade: var(--popover-shade);
	--color-purple-1: var(--purple-1);
	--color-purple-2: var(--purple-2);
	--color-purple-3: var(--purple-3);
	--color-purple-4: var(--purple-4);
	--color-purple-5: var(--purple-5);
	--color-red-1: var(--red-1);
	--color-red-2: var(--red-2);
	--color-red-3: var(--red-3);
	--color-red-4: var(--red-4);
	--color-red-5: var(--red-5);
	--color-scrollbar-outline: var(--scrollbar-outline);
	--color-secondary-sidebar-backdrop: var(--secondary-sidebar-backdrop);
	--color-secondary-sidebar-background: var(--secondary-sidebar-background);
	--color-secondary-sidebar-border: var(--secondary-sidebar-border);
	--color-secondary-sidebar-foreground: var(--secondary-sidebar-foreground);
	--color-secondary-sidebar-shade: var(--secondary-sidebar-shade);
	--color-shade: var(--shade);
	--color-sidebar-backdrop: var(--sidebar-backdrop);
	--color-sidebar-background: var(--sidebar-background);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-shade: var(--sidebar-shade);
	--color-success: var(--success);
	--color-success-background: var(--success-background);
	--color-success-foreground: var(--success-foreground);
	--color-thumbnail-background: var(--thumbnail-background);
	--color-thumbnail-foreground: var(--thumbnail-foreground);
	--color-view-background: var(--view-background);
	--color-view-foreground: var(--view-foreground);
	--color-warning: var(--warning);
	--color-warning-background: var(--warning-background);
	--color-warning-foreground: var(--warning-foreground);
	--color-window-background: var(--window-background);
	--color-window-foreground: var(--window-foreground);
	--color-yellow-1: var(--yellow-1);
	--color-yellow-2: var(--yellow-2);
	--color-yellow-3: var(--yellow-3);
	--color-yellow-4: var(--yellow-4);
	--color-yellow-5: var(--yellow-5);
	--color-list-box-background: var(--list-box-background);
	--color-expander-row-border: var(--expander-row-border);
	--color-hover: var(--hover);
}

body {
	background-color: var(--window-background);
	color: var(--window-foreground);
	font-family: "Inter", "Cantarell", sans-serif;
}
